version: '3'

services:
  db:
    restart: always
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=login
      - POSTGRES_USER=postgres
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: npm start
    ports:
      - "3002:3002"
    depends_on:
      - db